#searchbar{
    position: relative;
    margin-left: 10%;
    margin-top: 20px;
    padding:15px;
    border-radius: 10px;
}

input[type=text] {
     width: 60%;
     -webkit-transition: width 0.15s ease-in-out;
     transition: width 0.15s ease-in-out;
}

input[type=text]:focus {
    width: 160%;
}
